<header class="flex-container">

    <img class="logo" src="assets/images/ValorantLogo.svg" alt="ValorantLogo" aria-hidden="true">

    <div class="title">
        <h1>valRandomizer</h1>
    </div>

    <nav class="links">

        <a class="github" href="https://github.com/erik-bobinski/valRandomizer" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/GithubLogo.svg" width="40" height="40" alt="GithubLogo" aria-hidden="true">
                Github
        </a>

        <a class="coffee" href="https://www.buymeacoffee.com/erikbobinski" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/CoffeeLogo.svg" alt="CoffeeLogo" width="40" height="40" aria-hidden="true">
                Buy Me a Coffee
        </a>

    </nav>

</header>

<hr>
