.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #ff4655;
    font-size: 3rem;
    margin-bottom: 0;
}


hr {
    color: white;
    width: 60vw;
    margin-top: 0;
}

.video-container {
    border: 1px solid white;
    border-radius: 4px;
    width: 40vw; /* width:height must be 16:9 to match video aspect ratio */
    height: 22.5vw; /* width:height must be 16:9 to match video aspect ratio */
    margin: 1%;
    background-color: #333333;
}

.placeholder {
    width: 100%; /* full width of video-container */
    height: 100%; /* full height of video-container */
}

.video-container video {
    width: 100%; /* full width of video-container */
    height: 100%; /* full height of video-container */
    border-radius: 4px;
}

.get-your-agent-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.get-your-agent-button:hover {
    filter: brightness(1.2);
}

