.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #ff4655;
    font-size: 3rem;
    margin-bottom: 0;
}


hr {
    color: white;
    width: 80vw;
    margin-top: 0;
}

.agent-media {
    border: 1px solid white;
    margin: 1%;
    width: 50vw;
}

.get-your-agent-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.get-your-agent-button:hover {
    filter: brightness(1.2);
}

