.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #ff4655;
    font-size: 3rem;
    margin-bottom: 0;
}

hr {
    color: white;
    width: 60vw;
    margin-top: 0;
}

.challenge-output {
    border: 1px solid white;
    background-color: #333333;
    color: white;
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;    
    min-height: 15vh;
    width: 41.5vw;
    font-size: 1.5rem;
    margin: 1%;
    word-wrap: break-word;
    
}

.get-your-challenge-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.get-your-challenge-button:hover {
    filter: brightness(1.2);
}